<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pozole</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Taquitos</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  
  <ion-item>
    <ion-label>Capirotada</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Taquitos</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>

</ion-content>
