<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Checkboxes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Date Time</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="range"></ion-icon>
      <ion-label>Range</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="searchbar"></ion-icon>
      <ion-label>Search bar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
