<ion-header>
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" style="background-color: cyan;">
      <ion-card-header>
        <ion-card-title>Tarjeta básica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta bes una tarjeta básica.</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" style="background-color:darkgrey;">
      <ion-card-header>
        <ion-card-title>Tarjeta con lista</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <button ion-item>
            <ion-icon name="cart" item-start></ion-icon>
            Shopping
          </button>
      
          <button ion-item>
            <ion-icon name="medical" item-start></ion-icon>
            Hospital
          </button>
      
          <button ion-item>
            <ion-icon name="cafe" item-start></ion-icon>
            Cafe
          </button>
      
          <button ion-item>
            <ion-icon name="paw" item-start></ion-icon>
            Dog Park
          </button>
      
          <button ion-item>
            <ion-icon name="beer" item-start></ion-icon>
            Pub
          </button>
      
          <button ion-item>
            <ion-icon name="planet" item-start></ion-icon>
            Space
          </button>
      
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card style="background-color:khaki;">
      <img src="https://i.shgcdn.com/aebdd828-fb2c-46ae-8e99-52587fba128b/-/format/auto/-/preview/3000x3000/-/quality/lighter/"/>
      <ion-card-content>
        <ion-card-title>
          Tarjeta con imágen
          </ion-card-title>
        <p>
          Esta es una tarjeta con imágen
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
