<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hora de Inicio</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
  </ion-item>  
  <ion-item>
    <ion-label>Hora de Término</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
  </ion-item>  

</ion-content>
